# Step 1 - Importing libraries and CSV files

In [1]:
import gdown
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt 
import plotly.express as px
import requests
from bs4 import BeautifulSoup
import pandas as pd

**This CSV file contains information on 1 million flights that occurred between April and August 2022.**

In [2]:

try:
    df = pd.read_csv("downloaded_file.csv")
    display(df)

except:
    
    file_id = '1HZUl8G9vkjTzYCQ43sOsMEIy-MP6k4v8'

    url = f'https://drive.google.com/uc?id={file_id}'

    output_path = 'downloaded_file.csv'  # Cambia la extensión si no es un CSV

    gdown.download(url, output_path, quiet=False)

    df = pd.read_csv(output_path)

    df

,from_airport_code,from_country,dest_airport_code,dest_country,aircraft_type,airline_number,airline_name,flight_number,departure_time,arrival_time,duration,stops,price,currency,co2_emissions,avg_co2_emission_for_this_route,co2_percentage,scan_date
0,ALG,Algeria,AEP,Argentina,Airbus A318|Canadair RJ 1000|Airbus A330|Airbu...,multi,[Air France| Iberia| LATAM],AF1491|AF1491|AF1491|AF1491,2022-04-30 14:30:00,2022-05-01 10:15:00,1425,3,1279.0,USD,1320000.0,1320000.0,0%,2022-04-29 17:52:59
1,ALG,Algeria,AEP,Argentina,Airbus A318|Canadair RJ 1000|Boeing 787|Airbus...,multi,[Air France| Iberia| LATAM],AF1491|AF1491|AF1491|AF1491,2022-04-30 14:30:00,2022-05-01 10:15:00,1425,3,1279.0,USD,1195000.0,1320000.0,-9%,2022-04-29 17:52:59
2,ALG,Algeria,AEP,Argentina,Airbus A320|Airbus A321|Boeing 787|Airbus A320,multi,[Air France| LATAM],AF1855|AF1855|AF1855|AF1855,2022-04-30 12:45:00,2022-05-01 10:15:00,1530,3,1284.0,USD,1248000.0,1320000.0,-5%,2022-04-29 17:52:59
3,ALG,Algeria,AEP,Argentina,Airbus A318|Airbus A320|Boeing 787|Airbus A320,multi,[Air France| LATAM],AF1491|AF1491|AF1491|AF1491,2022-04-30 14:30:00,2022-05-01 10:15:00,1425,3,1290.0,USD,1347000.0,1320000.0,2%,2022-04-29 17:52:59
4,ALG,Algeria,AEP,Argentina,Airbus A321neo|Boeing 777|Airbus A320,multi,[Lufthansa| LATAM],LH1317|LH1317|LH1317,2022-04-30 12:35:00,2022-05-01 10:15:00,1540,2,1347.0,USD,1381000.0,1320000.0,4%,2022-04-29 17:52:59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
998861,BOM,India,SYD,Australia,Boeing 777|Airbus A380,EK,[Emirates],EK503|EK503,2022-05-01 19:20:00,2022-05-02 22:05:00,1335,1,1317.0,USD,1567000.0,1133000.0,38%,2022-04-29 17:52:59
998862,BOM,India,SYD,Australia,Boeing 777|Airbus A380,EK,[Emirates],EK509|EK509,2022-05-01 22:20:00,2022-05-02 22:05:00,1155,1,1317.0,USD,1583000.0,1133000.0,39%,2022-04-29 17:52:59
998863,BOM,India,SYD,Australia,Airbus A350|Boeing 787|Boeing 737,multi,[Etihad| Virgin Australia],EY205|EY205|EY205,2022-05-01 04:35:00,2022-05-02 09:55:00,1490,2,1328.0,USD,1354000.0,1133000.0,19%,2022-04-29 17:52:59
998864,BOM,India,SYD,Australia,Airbus A321 (Sharklets)|Airbus A321|Airbus A330,multi,[Air India| SriLankan],AI603|AI603|AI603,2022-05-01 06:10:00,2022-05-02 14:55:00,1695,2,1368.0,USD,1099000.0,1133000.0,-2%,2022-04-29 17:52:59
998865,BOM,India,SYD,Australia,Airbus A321 (Sharklets)|Airbus A321|Airbus A330,multi,[Air India| SriLankan],AI639|AI639|AI639,2022-05-01 09:30:00,2022-05-02 14:55:00,1495,2,1368.0,USD,1099000.0,1133000.0,-2%,2022-04-29 17:52:59

**This CSV document entitled 'Airport Code Dataframe' lists airport codes and their corresponding cities.**

In [3]:
try:
    df_airport_codes = pd.read_csv("city-mappings.csv")
    display(df_airport_codes)

except:
    
    file_id = '11sqbXlS21wFF4fsxtfurReCvOncVDIpW'

    url = f'https://drive.google.com/uc?id={file_id}'

    output_path = 'city-mappings-csv'  # Cambia la extensión si no es un CSV

    gdown.download(url, output_path, quiet=False)

    df_airport_codes = pd.read_csv(output_path)

    df_airport_codes

,index,Airport Name,City,Country,three-digit code,four_digit,l1,l2
0,0,Forestville Airport,Forestville,Canada,NaN,CYFE,48.746101,-69.097198
1,1,Pitt Meadows Airport,Pitt Meadows,Canada,NaN,CYPK,49.216099,-122.709999
2,2,Blida Airport,Blida,Algeria,NaN,DAAB,36.503601,2.814170
3,3,Bou Saada Airport,Bou Saada,Algeria,NaN,DAAD,35.332500,4.206390
4,4,Reggane Airport,Reggan,Algeria,NaN,DAAN,26.710100,0.285647
...,...,...,...,...,...,...,...,...
7179,7179,Zunyi Xinzhou Airport,Zunyi,China,ZYI,ZUZY,27.589500,107.000700
7180,7180,Osmany International Airport,Sylhet Osmani,Bangladesh,ZYL,VGSY,24.963200,91.866798
7181,7181,Mzuzu Airport,Mzuzu,Malawi,ZZU,FWUU,-11.444700,34.011799
7182,7182,Zanesville Municipal Airport,Zanesville,United States,ZZV,KZZV,39.944401,-81.892097
7183,7183,Liverpool South Shore Regional Airport,Liverpool,Canada,NaN,CYAU,44.230301,-64.856102

# Step 2 - Merging the two data frames

**2.1 Merging the columns 'city' and 'three-digit code' from the Airport Codes Dataframe into the main dataframe. All other columns will be dropped.**

In [4]:
df_airport_codes.drop(columns=["index","Airport Name", "four_digit", "l1", "l2", "Country"], inplace=True)
df_airport_codes

               City three-digit code
0       Forestville              NaN
1      Pitt Meadows              NaN
2             Blida              NaN
3         Bou Saada              NaN
4            Reggan              NaN
...             ...              ...
7179          Zunyi              ZYI
7180  Sylhet Osmani              ZYL
7181          Mzuzu              ZZU
7182     Zanesville              ZZV
7183      Liverpool              NaN

[7184 rows x 2 columns]

**2.2 Merging the two dataframes to display the city corresponding to each airport code.**

In [5]:

# Rename columns in df_airport_codes for city_of_departure
df_airport_codes_departure = df_airport_codes.rename(columns={'three-digit code': 'from_airport_code', 'City': 'city_of_departure'})

# Perform the merge to add city_of_departure
df = pd.merge(df, df_airport_codes_departure[['from_airport_code', 'city_of_departure']], on='from_airport_code', how='left')

# Rename columns in df_airport_codes for city_of_arrival
df_airport_codes_arrival = df_airport_codes.rename(columns={'three-digit code': 'dest_airport_code', 'City': 'city_of_arrival'})

# Perform the merge to add city_of_arrival
df = pd.merge(df, df_airport_codes_arrival[['dest_airport_code', 'city_of_arrival']], on='dest_airport_code', how='left')

# Reorder the columns to place city_of_departure and city_of_arrival next to their respective airport codes
cols = df.columns.tolist()
from_idx = cols.index('from_airport_code') + 1
to_idx = cols.index('dest_airport_code') + 1

cols.insert(from_idx, cols.pop(cols.index('city_of_departure')))
cols.insert(to_idx, cols.pop(cols.index('city_of_arrival')))

df = df[cols]

# Step 3 - Cleaning the data

**3.1 The first step is to drop all rows (flights) that include layovers. This crucial step prevents any distortions in the analysis of flight duration, as time spent during layovers prevents an accurate assessment of actual flying time. Moreover, when layovers are involved, the table only shows the aircraft used without specifying the distance each aircraft traveled. This lack of detailed information makes it very difficult to accurately determine the pollution levels of each type of aircraft. By excluding layovers, we ensure that we can more easily and precisely analyze the emissions and performance of individual aircraft types.**

In [6]:
df = df[df.stops == 0]

**3.2 Renaming the duration column to indicate it is measured in minutes.**

In [7]:
df.rename(columns= {'duration': 'duration_minutes'}, inplace = True)

**3.3 Eliminating all rows that do not provide information about CO2 emissions, as this data is crucial for the analysis.**

In [8]:
df.dropna(subset= "co2_emissions", inplace=True)
df.isnull().sum()

from_airport_code                     0
city_of_departure                     0
from_country                          0
city_of_arrival                     214
dest_airport_code                     0
dest_country                          0
aircraft_type                       224
airline_number                        0
airline_name                          0
flight_number                         0
departure_time                        0
arrival_time                          0
duration_minutes                      0
stops                                 0
price                               847
currency                              0
co2_emissions                         0
avg_co2_emission_for_this_route    2978
co2_percentage                     2978
scan_date                             0
dtype: int64

**3.4 Filling null values in avg_co2_emission_for_this_route and co2_percentage.**

In [9]:
# Step 1: Identify routes with null values in 'avg_co2_emission_for_this_route'
routes_with_null_avg_co2 = df[df['avg_co2_emission_for_this_route'].isnull()]

# Step 2: Calculate the average CO2 emissions for these routes
route_avg_co2 = routes_with_null_avg_co2.groupby(['from_airport_code', 'dest_airport_code'])['co2_emissions'].mean().reset_index()

# Rename the 'co2_emissions' column to 'avg_co2_emission_for_this_route' for direct use
route_avg_co2.rename(columns={'co2_emissions': 'avg_co2_emission_for_this_route_new'}, inplace=True)

# Step 3: Merge the route averages back into the original DataFrame (df)
df = pd.merge(df, route_avg_co2, on=['from_airport_code', 'dest_airport_code'], how='left')

# Step 4: Fill the null values in 'avg_co2_emission_for_this_route' with the calculated route averages
df['avg_co2_emission_for_this_route'].fillna(df['avg_co2_emission_for_this_route_new'], inplace=True)

# Step 5: Recalculate the CO2 percentage based on the filled average CO2 emissions
df['co2_percentage'] = (df['co2_emissions'] - df['avg_co2_emission_for_this_route']) / df['avg_co2_emission_for_this_route'] * 100

# Drop the temporary 'avg_co2_emission_for_this_route_new' column as it is no longer needed
df.drop(columns=['avg_co2_emission_for_this_route_new'], inplace=True)

df

C:\Users\dalre\AppData\Local\Temp\ipykernel_7288\3350462465.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['avg_co2_emission_for_this_route'].fillna(df['avg_co2_emission_for_this_route_new'], inplace=True)

,from_airport_code,city_of_departure,from_country,city_of_arrival,dest_airport_code,dest_country,aircraft_type,airline_number,airline_name,flight_number,departure_time,arrival_time,duration_minutes,stops,price,currency,co2_emissions,avg_co2_emission_for_this_route,co2_percentage,scan_date
0,ALG,Algier,Algeria,Cairo,CAI,Egypt,Boeing 737,MS,[EgyptAir],MS846,2022-05-29 12:55:00,2022-05-29 17:30:00,215,0,350.0,USD,327000.0,454000.0,-27.973568,2022-04-29 17:52:59
1,ALG,Algier,Algeria,Paris,CDG,France,Boeing 737,5O,[ASL Airlines],5O162,2022-04-30 10:20:00,2022-04-30 13:40:00,140,0,97.0,USD,210000.0,186000.0,12.903226,2022-04-29 17:52:59
2,ALG,Algier,Algeria,Cairo,CAI,Egypt,Boeing 737,MS,[EgyptAir],MS846,2022-07-28 12:55:00,2022-07-28 17:30:00,215,0,350.0,USD,327000.0,454000.0,-27.973568,2022-04-29 17:52:59
3,ALG,Algier,Algeria,Paris,CDG,France,Boeing 737,5O,[ASL Airlines],5O162,2022-05-02 10:20:00,2022-05-02 13:40:00,140,0,202.0,USD,186000.0,186000.0,0.000000,2022-04-29 17:52:59
4,ALG,Algier,Algeria,Paris,CDG,France,Boeing 737,5O,[ASL Airlines],5O272,2022-05-02 17:00:00,2022-05-02 20:20:00,140,0,230.0,USD,186000.0,186000.0,0.000000,2022-04-29 17:52:59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16228,BOM,Mumbai,India,Bangkok,BKK,Thailand,Airbus A350,TG,[THAI],TG318,2022-05-01 23:35:00,2022-05-02 05:35:00,270,0,221.0,USD,263000.0,340000.0,-22.647059,2022-04-29 17:52:59
16229,BOM,Mumbai,India,Bangkok,BKK,Thailand,Airbus A320,G8,[GO FIRST],G825,2022-05-03 05:50:00,2022-05-03 12:00:00,280,0,110.0,USD,300000.0,340000.0,-11.764706,2022-04-29 17:52:59
16230,BOM,Mumbai,India,Bangkok,BKK,Thailand,Boeing 777,TG,[THAI],TG318,2022-05-03 23:35:00,2022-05-04 05:35:00,270,0,191.0,USD,373000.0,340000.0,9.705882,2022-04-29 17:52:59
16231,BOM,Mumbai,India,Bangkok,BKK,Thailand,Airbus A320,G8,[GO FIRST],G825,2022-05-07 05:50:00,2022-05-07 12:00:00,280,0,145.0,USD,300000.0,340000.0,-11.764706,2022-04-29 17:52:59
16232,BOM,Mumbai,India,Bangkok,BKK,Thailand,Airbus A350,TG,[THAI],TG318,2022-05-07 23:35:00,2022-05-08 05:35:00,270,0,302.0,USD,263000.0,340000.0,-22.647059,2022-04-29 17:52:59

**3.5 The Airport Code dataframe did not include the airport code for Doha (DOH), so we inserted it manually. This is straightforward because the only null values in the city of arrival column pertain to Doha (DOH).**

In [ ]:
df.city_of_arrival.fillna("Doha", inplace=True)

1. Most Pollutant Routes in Summer 2022
Analysis: Calculate the total CO2 emissions for each route.
Approach: Sum CO2 emissions for all flights on each route, then rank them to find the most polluting routes.

In [ ]:
# Group by route and sum CO2 emissions
pollutant_routes = df.groupby(['city_of_departure', 'city_of_arrival'])['co2_emissions'].sum().reset_index()
# Sort by CO2 emissions in descending order
pollutant_routes = pollutant_routes.sort_values(by='co2_emissions', ascending=False)
# Display the top 20 most pollutant routes
top_pollutant_routes = pollutant_routes.head(20)
top_pollutant_routes

In [ ]:
# Create a bar graph using Plotly
fig = px.bar(top_pollutant_routes, 
             x='co2_emissions', 
             y='city_of_departure', 
             color='city_of_arrival', 
             orientation='h', 
             title='Top 20 Most Pollutant Routes by CO2 Emissions',
             labels={'co2_emissions': 'CO2 Emissions (kg)', 'city_of_departure': 'City of Departure'},
             height=600)

# Show the plot
fig.show()

2. Most Polluting Aircraft Types
Analysis: Determine CO2 emissions by aircraft type.
Approach: Aggregate CO2 emissions by aircraft type and identify which types have the highest emissions.

In [ ]:
polluting_aircraft = df.groupby('aircraft_type')['co2_emissions'].sum().reset_index()
# Sort by CO2 emissions
most_polluting_aircraft = polluting_aircraft.sort_values(by='co2_emissions', ascending=False)
display(most_polluting_aircraft.head(20))

In [ ]:
# Create the bar plot using Plotly
fig = px.bar(most_polluting_aircraft.head(20), x='aircraft_type', y='co2_emissions',
             title='Top 20 Most Polluting Aircraft Types by Total CO2 Emissions',
             labels={'aircraft_type': 'Aircraft Type', 'co2_emissions': 'Total CO2 Emissions'},
             color='co2_emissions', color_continuous_scale='Viridis')

# Customize the layout
fig.update_layout(
    xaxis_title='Aircraft Type',
    yaxis_title='Total CO2 Emissions',
    title_x=0.5  # Center the title
)

# Show the plot
fig.show()

3. Correlation Between Ticket Price and CO2 Emissions
Analysis: Explore the relationship between ticket price and CO2 emissions per flight.
Approach: Calculate the correlation coefficient between ticket price and CO2 emissions.

In [ ]:
correlation_price_co2 = df['price'].corr(df['co2_emissions'])
print(f"Correlation between ticket price and CO2 emissions: {correlation_price_co2}")

In [ ]:
# Create a scatter plot with Plotly
fig = px.scatter(df, x='price', y='co2_emissions', 
                 title='Scatter Plot: Ticket Price vs CO2 Emissions',
                 labels={'price': 'Ticket Price', 'co2_emissions': 'CO2 Emissions'},
                 trendline='ols',  # Add a trendline (OLS regression)
                 color='co2_emissions', color_continuous_scale='Viridis',  # Color points based on CO2 emissions
                 hover_name=df.index)  # Show index as hover name

# Customize the layout
fig.update_layout(
    xaxis_title='Ticket Price',
    yaxis_title='CO2 Emissions',
    title_x=0.5  # Center the title
)

# Show the plot
fig.show()

4. Most Popular Routes
Analysis: Identify routes with the highest number of flights.
Approach: Count the number of flights for each route and rank them.

In [ ]:
popular_routes = df.groupby(['from_airport_code', 'dest_airport_code']).size().reset_index(name='num_flights')
# Sort by number of flights
most_popular_routes = popular_routes.sort_values(by='num_flights', ascending=False)
display(most_popular_routes.head(10))

In [ ]:
# Create a bar plot using Plotly
fig = px.bar(most_popular_routes, x='from_airport_code', y='num_flights', 
             title='Top 10 Most Popular Routes by Number of Flights',
             labels={'from_airport_code': 'From Airport', 'num_flights': 'Number of Flights'},
             color='num_flights', color_continuous_scale='Viridis')

# Customize the layout
fig.update_layout(
    xaxis_title='From Airport',
    yaxis_title='Number of Flights',
    title_x=0.5  # Center the title
)

5. Shortest and Longest Routes
Analysis: Find the routes with the minimum and maximum distances.
Approach: Use the distance data to identify the shortest and longest routes.

In [ ]:
shortest_routes = df.sort_values(by='duration_minutes').head()
longest_routes = df.sort_values(by='duration_minutes', ascending=False).head()
display("Shortest Routes:", shortest_routes)
display("Longest Routes:", longest_routes)

In [ ]:
# Create a bar plot using Plotly
fig = px.bar(combined_routes, x='from_airport_code', y='duration_minutes', 
             title='Shortest and Longest Routes by Duration',
             labels={'from_airport_code': 'From Airport', 'duration_minutes': 'Duration (minutes)'},
             color='from_airport_code',  # Color bars by 'from_airport_code'
             barmode='group')  # Group bars by 'from_airport_code'

# Customize the layout
fig.update_layout(
    xaxis_title='From Airport',
    yaxis_title='Duration (minutes)',
    title_x=0.5,  # Center the title
    bargap=0.2  # Gap between bars
)

# Show the plot
fig.show()

6. Correlation Between Price and Distance
Analysis: Examine how ticket prices vary with distance.
Approach: Calculate the correlation coefficient between ticket price and distance traveled.

In [ ]:
correlation_price_stops = df['price'].corr(df['duration_minutes'])
print(f"Correlation between ticket price and time travelled: {correlation_price_stops}")

In [ ]:
# Create a scatter plot using Plotly
fig = px.scatter(df, x='duration_minutes', y='price', 
                 title='Correlation between Ticket Price and Travel Duration',
                 labels={'duration_minutes': 'Duration (minutes)', 'price': 'Ticket Price'},
                 trendline='ols',  # Add OLS regression trendline
                 color='price',  # Color points by 'price'
                 color_continuous_scale='Viridis')  # Set color scale

# Customize the layout
fig.update_layout(
    xaxis_title='Duration (minutes)',
    yaxis_title='Ticket Price',
    title_x=0.5  # Center the title
)

# Show the plot
fig.show()

9. CO2 Emissions by Airline Analysis: Compare the CO2 emissions of different airlines. Approach: Aggregate CO2 emissions data by airline and analyze their relative environmental impact.

In [ ]:
# Aggregate CO2 emissions by airline
aggregated_data = df.groupby('airline_name')['co2_emissions'].sum().reset_index()

# Sort airlines based on total emissions (optional)
aggregated_data = aggregated_data.sort_values(by='co2_emissions', ascending=False)

# Display aggregated data
print(aggregated_data)

In [ ]:

# Create a bar chart using Plotly Express
fig = px.bar(aggregated_data, x='airline_name', y='co2_emissions', 
             title='CO2 Emissions by Airline',
             labels={'Airline': 'Airline', 'CO2_Emissions': 'Total CO2 Emissions'})

# Customize layout
fig.update_layout(xaxis_title='Airline', yaxis_title='Total CO2 Emissions')

# Show the plot
fig.show()

10. CO2 Emissions by Airport

Analysis: Assess the total CO2 emissions associated with each airport.
Approach: Sum the CO2 emissions for all departures and arrivals at each airport.

In [ ]:
# Create separate dataframes for departures and arrivals with an indicator column
departures = df[['from_airport_code', 'co2_emissions']].copy()
departures['type'] = 'departure'
departures.columns = ['airport', 'co2_emissions', 'type']
arrivals = df[['dest_airport_code', 'co2_emissions']].copy()
arrivals['type'] = 'arrival'
arrivals.columns = ['airport', 'co2_emissions', 'type']

# Concatenate the departures and arrivals dataframes
combined_data = pd.concat([departures, arrivals])
# Create a pivot table to sum CO2 emissions for each airport
pivot_table = pd.pivot_table(combined_data, values='co2_emissions', index='airport', aggfunc='sum').reset_index()
# Sort by total CO2 emissions
pivot_table = pivot_table.sort_values(by='co2_emissions', ascending=False)
# Sort by total CO2 emissions and select top 10 airports
top_airports = pivot_table.nlargest(15, 'co2_emissions')

In [ ]:
# Create the bar plot using Seaborn
plt.figure(figsize=(12, 8))
sns.barplot(x='airport', y='co2_emissions', data=top_airports, palette='viridis')

# Customize the plot
plt.title('Top 10 Airports by Total CO2 Emissions')
plt.xlabel('Airport')
plt.ylabel('Total CO2 Emissions')

# Rotate x-axis labels for better readability if needed
plt.xticks(rotation=45, ha='right')

# Show plot
plt.tight_layout()
plt.show()

In [ ]:
import plotly.express as px
fig = px.bar(pivot_table.head(15), x='airport', y='co2_emissions', 
             title='Top 10 Airports by Total CO2 Emissions',
             labels={'co2_emissions': 'Total CO2 Emissions', 'airport': 'Airport'},
             text='co2_emissions',
             color='co2_emissions')
# Customize the chart layout
fig.update_layout(
    title='Top 10 Airports by Total CO2 Emissions',
    xaxis_title='Airport',
    yaxis_title='Total CO2 Emissions',
    uniformtext_minsize=8, uniformtext_mode='hide'
)
# Display the bar chart
fig.show()

8. Fuel Consumption by Plane Type
Additional Data Required: Find a dataset that provides fuel consumption rates for different aircraft types.
Analysis: Combine fuel consumption data with distance traveled to calculate fuel efficiency and emissions.
Approach: Use the additional fuel consumption data to calculate the fuel consumption for each flight based on its aircraft type and distance, then analyze the results.

In [10]:
url = "https://en.wikipedia.org/wiki/Fuel_economy_in_aircraft"
response = requests.get(url)
if response.status_code == 200:
    page_content = response.content
else:
    raise Exception(f"Failed to retrieve content. Status code: {response.status_code}")

In [11]:
soup = BeautifulSoup(page_content, 'html.parser')

In [12]:
# Wikipedia tables often have the class "wikitable"
table = soup.find('table', {'class': 'wikitable'})

In [13]:
# Find all tables with class "wikitable"
tables = soup.find_all('table', {'class': 'wikitable'})

# Identify the correct table (using index 1 as an example, change if needed)
idx = 1  # Replace with the correct index after checking
table = tables[idx]

In [23]:
# Create an empty list to store the rows
rows = []

# Extract table rows
for row in table.find_all('tr'):
    cells = row.find_all(['td', 'th'])
    cell_text = [cell.get_text(strip=True) for cell in cells]
    rows.append(cell_text)

# Create a DataFrame from the extracted data
fuel_consumption_df = pd.DataFrame(rows)

# Display the first few rows of the DataFrame
display(fuel_consumption_df)
print(fuel_consumption_df.columns)

,0,1,2,3,4,5
0,Model,First flight,Seats,Sector,Fuel burn,Fuel efficiency per seat
1,Airbus A220100,2013,115,"600 nmi (1,100 km)",2.8 kg/km (10.1 lb/mi),3.07 L/100 km (76.7 mpg‑US)[68]
2,Airbus A220300,2015,140,"600 nmi (1,100 km)",3.10 kg/km (11.01 lb/mi),2.75 L/100 km (85.6 mpg‑US)[68]
3,Airbus A220-100,2013,125,500 nmi (930 km),2.57 kg/km (9.1 lb/mi),2.57 L/100 km (92 mpg‑US)[69]
4,Airbus A220-300,2015,160,500 nmi (930 km),2.85 kg/km (10.11 lb/mi),2.23 L/100 km (105 mpg‑US)[70]
5,Airbus A319neo,2015,144,"600 nmi (1,100 km)",3.37 kg/km (11.94 lb/mi),2.92 L/100 km (80.6 mpg‑US)[68]
6,Airbus A319neo,2015,124,"660 nmi (1,220 km)",2.82 kg/km (10 lb/mi),2.82 L/100 km (83.5 mpg‑US)[71]
7,Airbus A320neo,2015,154,"660 nmi (1,220 km)",2.79 kg/km (9.9 lb/mi),2.25 L/100 km (104.7 mpg‑US)[71]
8,Airbus A321neo,2015,192,"660 nmi (1,220 km)",3.30 kg/km (11.7 lb/mi),2.19 L/100 km (107.4 mpg‑US)[71]
9,Antonov An-148,2004,89,"684 nmi (1,267 km)",2.89 kg/km (10.3 lb/mi),4.06 L/100 km (57.9 mpg‑US)[55]
10,Antonov An-158,2010,99,"684 nmi (1,267 km)",3 kg/km (11 lb/mi),3.79 L/100 km (62.1 mpg‑US)[55]
11,ATR 42-600,2010,50,500 nmi (930 km),1.30 kg/km (4.6 lb/mi),3.27 L/100 km (72 mpg‑US)[72]
12,ATR 72-600,2010,72,500 nmi (930 km),1.41 kg/km (5 lb/mi),2.46 L/100 km (96 mpg‑US)[73]
13,Boeing 737-300,1984,126,507 nmi (939 km),3.49 kg/km (12.4 lb/mi),3.46 L/100 km (68 mpg‑US)[74]
14,Boeing 737-600,1998,110,500 nmi (930 km),3.16 kg/km (11.2 lb/mi),3.59 L/100 km (65.5 mpg‑US)[75]
15,Boeing 737-700,1997,126,500 nmi (930 km),3.21 kg/km (11.4 lb/mi),3.19 L/100 km (74 mpg‑US)[75]
16,Boeing 737 MAX7,2017,128,"660 nmi (1,220 km)",2.85 kg/km (10.1 lb/mi),2.77 L/100 km (84.8 mpg‑US)[71]
17,Boeing 737 MAX7,2017,144,"600 nmi (1,100 km)",3.39 kg/km (12.01 lb/mi),2.93 L/100 km (80.2 mpg‑US)[68]
18,Boeing 737-800,1997,162,500 nmi (930 km),3.59 kg/km (12.7 lb/mi),2.77 L/100 km (85 mpg‑US)[75]
19,Boeing 737 MAX8,2017,166,"660 nmi (1,220 km)",3.04 kg/km (10.8 lb/mi),2.28 L/100 km (103.2 mpg‑US)[71]
20,Boeing 737-900ER,2006,180,500 nmi (930 km),3.83 kg/km (13.6 lb/mi),2.66 L/100 km (88 mpg‑US)[75]
21,Boeing 737 MAX9,2017,180,"660 nmi (1,220 km)",3.30 kg/km (11.7 lb/mi),2.28 L/100 km (103 mpg‑US)[71]
22,Boeing 757-200,1982,200,500 nmi (930 km),4.68 kg/km (16.61 lb/mi),2.91 L/100 km (80.7 mpg‑US)[76]
23,Boeing 757-300,1998,243,500 nmi (930 km),5.19 kg/km (18.41 lb/mi),2.66 L/100 km (88.4 mpg‑US)[76]
24,Bombardier CRJ100,1991,50,"577 nmi (1,069 km)",1.87 kg/km (6.65 lb/mi),4.68 L/100 km (50.3 mpg‑US)[60]
25,Bombardier CRJ200,1995,50,"580 nmi (1,070 km)",1.80 kg/km (6.39 lb/mi),4.49 L/100 km (52.4 mpg‑US)[60]
26,Bombardier CRJ700,1999,70,"574 nmi (1,063 km)",2.45 kg/km (8.68 lb/mi),4.36 L/100 km (54 mpg‑US)[60]
27,Bombardier CRJ900,2001,88,"573 nmi (1,061 km)",2.78 kg/km (9.88 lb/mi),3.94 L/100 km (59.7 mpg‑US)[60]
28,Bombardier CRJ1000,2009,100,500 nmi (930 km),2.66 kg/km (9.4 lb/mi),3.33 L/100 km (71 mpg‑US)[77]
29,Bombardier Dash 8Q400,1998,74,500 nmi (930 km),2.31 kg/km (8.2 lb/mi),3.9 L/100 km (60 mpg‑US)[78]
30,Bombardier Dash 8Q400,1998,74,"600 nmi (1,100 km)",1.83 kg/km (6.5 lb/mi),3.09 L/100 km (76 mpg‑US)[79]
31,Dornier 328,1991,31,"600 nmi (1,100 km)",1.08 kg/km (3.8 lb/mi),4.35 L/100 km (54.1 mpg‑US)[80]
32,Embraer E-Jet E2-175,2020,88,"600 nmi (1,100 km)",2.44 kg/km (8.64 lb/mi),3.44 L/100 km (68.3 mpg‑US)[68]
33,Embraer E-Jet E2-190,2018,106,500 nmi (930 km),2.48 kg/km (8.8 lb/mi),2.93 L/100 km (80 mpg‑US)[81]
34,Embraer E-Jet E2-190,2018,106,"600 nmi (1,100 km)",2.83 kg/km (10.04 lb/mi),3.32 L/100 km (70.8 mpg‑US)[68]
35,Embraer E-Jet E2-195,2019,132,500 nmi (930 km),2.62 kg/km (9.3 lb/mi),2.5 L/100 km (94 mpg‑US)[82]
36,Embraer E-Jet E2-195,2019,132,"600 nmi (1,100 km)",3.07 kg/km (10.91 lb/mi),2.90 L/100 km (81 mpg‑US)[68]
37,Embraer E-Jet-170,2002,80,"606 nmi (1,122 km)",2.6 kg/km (9.3 lb/mi),4.08 L/100 km (57.7 mpg‑US)[83]
38,Embraer E-Jet-175,2005,88,"605 nmi (1,120 km)",2.80 kg/km (9.95 lb/mi),3.97 L/100 km (59.3 mpg‑US)[83]
39,Embraer E-Jet-190,2004,114,"607 nmi (1,124 km)",3.24 kg/km (11.48 lb/mi),3.54 L/100 km (66.5 mpg‑US)[83]
40,Embraer E-Jet-195,2004,122,"607 nmi (1,124 km)",3.21 kg/km (11.38 lb/mi),3.28 L/100 km (71.8 mpg‑US)[83]
41,Embraer ERJ-135ER,1998,37,"596 nmi (1,104 km)",1.44 kg/km (5.12 lb/mi),4.86 L/100 km (48.4 mpg‑US)[65]
42,Embraer ERJ-145ER,1996,50,"598 nmi (1,107 km)",1.55 kg/km (5.49 lb/mi),3.86 L/100 km (61 mpg‑US)[65]
43,Pilatus PC-12,1991,9,500 nmi (930 km),0.41 kg/km (1.5 lb/mi),5.66 L/100 km (41.6 mpg‑US)[84]
44,Saab 340,1983,31,500 nmi (930 km),0.95 kg/km (3.4 lb/mi),3.83 L/100 km (61.4 mpg‑US)[66]
45,Saab 2000,1992,50,500 nmi (930 km),1.54 kg/km (5.5 lb/mi),3.85 L/100 km (61.1 mpg‑US)[67]
46,Sukhoi SSJ100,2008,98,500 nmi (930 km),2.81 kg/km (10.0 lb/mi),3.59 L/100 km (65.5 mpg‑US)[85]

RangeIndex(start=0, stop=6, step=1)

In [29]:
# Rename columns in preparation to merge with the main dataframe
fuel_consumption_df.rename(columns={
    'Model': 'aircraft_type',
    'Sector': 'sector',
    'Fuel burn': 'fuel_burn',
    'Fuel efficiency per seat': 'fuel_efficiency_per_seat'
}, inplace=True)

display(fuel_consumption_df.head())

,0,1,2,3,4,5
0,Model,First flight,Seats,Sector,Fuel burn,Fuel efficiency per seat
1,Airbus A220100,2013,115,"600 nmi (1,100 km)",2.8 kg/km (10.1 lb/mi),3.07 L/100 km (76.7 mpg‑US)[68]
2,Airbus A220300,2015,140,"600 nmi (1,100 km)",3.10 kg/km (11.01 lb/mi),2.75 L/100 km (85.6 mpg‑US)[68]
3,Airbus A220-100,2013,125,500 nmi (930 km),2.57 kg/km (9.1 lb/mi),2.57 L/100 km (92 mpg‑US)[69]
4,Airbus A220-300,2015,160,500 nmi (930 km),2.85 kg/km (10.11 lb/mi),2.23 L/100 km (105 mpg‑US)[70]

In [ ]:
# # Merge the main dataset with the fuel consumption data based on 'aircraft_type'
# merged_df = pd.merge(df, fuel_consumption_df, on='aircraft_type', how='left')

# # Display the first few rows of the merged dataset to ensure integration was successful
# print(merged_df.head())