# Step 1 - Importing libraries and CSV files

In [26]:
import gdown
import pandas as pd
import seaborn as sns
import matplotlib as plt
import plotly.express as px

**This CSV file contains information about 1 Million flights that happened between the months of April and August 2022**

In [27]:

try:
    df = pd.read_csv("downloaded_file.csv")
    display(df)

except:
    
    file_id = '1HZUl8G9vkjTzYCQ43sOsMEIy-MP6k4v8'

    url = f'https://drive.google.com/uc?id={file_id}'

    output_path = 'downloaded_file.csv'  # Cambia la extensión si no es un CSV

    gdown.download(url, output_path, quiet=False)

    df = pd.read_csv(output_path)

    df

,from_airport_code,from_country,dest_airport_code,dest_country,aircraft_type,airline_number,airline_name,flight_number,departure_time,arrival_time,duration,stops,price,currency,co2_emissions,avg_co2_emission_for_this_route,co2_percentage,scan_date
0,ALG,Algeria,AEP,Argentina,Airbus A318|Canadair RJ 1000|Airbus A330|Airbu...,multi,[Air France| Iberia| LATAM],AF1491|AF1491|AF1491|AF1491,2022-04-30 14:30:00,2022-05-01 10:15:00,1425,3,1279.0,USD,1320000.0,1320000.0,0%,2022-04-29 17:52:59
1,ALG,Algeria,AEP,Argentina,Airbus A318|Canadair RJ 1000|Boeing 787|Airbus...,multi,[Air France| Iberia| LATAM],AF1491|AF1491|AF1491|AF1491,2022-04-30 14:30:00,2022-05-01 10:15:00,1425,3,1279.0,USD,1195000.0,1320000.0,-9%,2022-04-29 17:52:59
2,ALG,Algeria,AEP,Argentina,Airbus A320|Airbus A321|Boeing 787|Airbus A320,multi,[Air France| LATAM],AF1855|AF1855|AF1855|AF1855,2022-04-30 12:45:00,2022-05-01 10:15:00,1530,3,1284.0,USD,1248000.0,1320000.0,-5%,2022-04-29 17:52:59
3,ALG,Algeria,AEP,Argentina,Airbus A318|Airbus A320|Boeing 787|Airbus A320,multi,[Air France| LATAM],AF1491|AF1491|AF1491|AF1491,2022-04-30 14:30:00,2022-05-01 10:15:00,1425,3,1290.0,USD,1347000.0,1320000.0,2%,2022-04-29 17:52:59
4,ALG,Algeria,AEP,Argentina,Airbus A321neo|Boeing 777|Airbus A320,multi,[Lufthansa| LATAM],LH1317|LH1317|LH1317,2022-04-30 12:35:00,2022-05-01 10:15:00,1540,2,1347.0,USD,1381000.0,1320000.0,4%,2022-04-29 17:52:59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
998861,BOM,India,SYD,Australia,Boeing 777|Airbus A380,EK,[Emirates],EK503|EK503,2022-05-01 19:20:00,2022-05-02 22:05:00,1335,1,1317.0,USD,1567000.0,1133000.0,38%,2022-04-29 17:52:59
998862,BOM,India,SYD,Australia,Boeing 777|Airbus A380,EK,[Emirates],EK509|EK509,2022-05-01 22:20:00,2022-05-02 22:05:00,1155,1,1317.0,USD,1583000.0,1133000.0,39%,2022-04-29 17:52:59
998863,BOM,India,SYD,Australia,Airbus A350|Boeing 787|Boeing 737,multi,[Etihad| Virgin Australia],EY205|EY205|EY205,2022-05-01 04:35:00,2022-05-02 09:55:00,1490,2,1328.0,USD,1354000.0,1133000.0,19%,2022-04-29 17:52:59
998864,BOM,India,SYD,Australia,Airbus A321 (Sharklets)|Airbus A321|Airbus A330,multi,[Air India| SriLankan],AI603|AI603|AI603,2022-05-01 06:10:00,2022-05-02 14:55:00,1695,2,1368.0,USD,1099000.0,1133000.0,-2%,2022-04-29 17:52:59
998865,BOM,India,SYD,Australia,Airbus A321 (Sharklets)|Airbus A321|Airbus A330,multi,[Air India| SriLankan],AI639|AI639|AI639,2022-05-01 09:30:00,2022-05-02 14:55:00,1495,2,1368.0,USD,1099000.0,1133000.0,-2%,2022-04-29 17:52:59

**This CSV document is a list of all airport codes and the cities such airports are located**

In [28]:
try:
    df_airport_codes = pd.read_csv("city-mappings.csv")
    display(df_airport_codes)

except:
    
    file_id = '11sqbXlS21wFF4fsxtfurReCvOncVDIpW'

    url = f'https://drive.google.com/uc?id={file_id}'

    output_path = 'city-mappings-csv'  # Cambia la extensión si no es un CSV

    gdown.download(url, output_path, quiet=False)

    df_airport_codes = pd.read_csv(output_path)

    df_airport_codes

,index,Airport Name,City,Country,three-digit code,four_digit,l1,l2
0,0,Forestville Airport,Forestville,Canada,NaN,CYFE,48.746101,-69.097198
1,1,Pitt Meadows Airport,Pitt Meadows,Canada,NaN,CYPK,49.216099,-122.709999
2,2,Blida Airport,Blida,Algeria,NaN,DAAB,36.503601,2.814170
3,3,Bou Saada Airport,Bou Saada,Algeria,NaN,DAAD,35.332500,4.206390
4,4,Reggane Airport,Reggan,Algeria,NaN,DAAN,26.710100,0.285647
...,...,...,...,...,...,...,...,...
7179,7179,Zunyi Xinzhou Airport,Zunyi,China,ZYI,ZUZY,27.589500,107.000700
7180,7180,Osmany International Airport,Sylhet Osmani,Bangladesh,ZYL,VGSY,24.963200,91.866798
7181,7181,Mzuzu Airport,Mzuzu,Malawi,ZZU,FWUU,-11.444700,34.011799
7182,7182,Zanesville Municipal Airport,Zanesville,United States,ZZV,KZZV,39.944401,-81.892097
7183,7183,Liverpool South Shore Regional Airport,Liverpool,Canada,NaN,CYAU,44.230301,-64.856102

# Step 2 - Merging the two data frames

**2.1 - We will only merge the "city" and "three-digit code" columns from the df_airport_codes to the main dataframe; therefore, the other columns may be dropped**

In [29]:
df_airport_codes.drop(columns=["index","Airport Name", "four_digit", "l1", "l2", "Country"], inplace=True)
df_airport_codes

               City three-digit code
0       Forestville              NaN
1      Pitt Meadows              NaN
2             Blida              NaN
3         Bou Saada              NaN
4            Reggan              NaN
...             ...              ...
7179          Zunyi              ZYI
7180  Sylhet Osmani              ZYL
7181          Mzuzu              ZZU
7182     Zanesville              ZZV
7183      Liverpool              NaN

[7184 rows x 2 columns]

**2.2 - Merge the two dataframes to display the city corresponding to each airport code.**

In [30]:

# Rename columns in df_airport_codes for city_of_departure
df_airport_codes_departure = df_airport_codes.rename(columns={'three-digit code': 'from_airport_code', 'City': 'city_of_departure'})

# Perform the merge to add city_of_departure
df = pd.merge(df, df_airport_codes_departure[['from_airport_code', 'city_of_departure']], on='from_airport_code', how='left')

# Rename columns in df_airport_codes for city_of_arrival
df_airport_codes_arrival = df_airport_codes.rename(columns={'three-digit code': 'dest_airport_code', 'City': 'city_of_arrival'})

# Perform the merge to add city_of_arrival
df = pd.merge(df, df_airport_codes_arrival[['dest_airport_code', 'city_of_arrival']], on='dest_airport_code', how='left')

# Reorder the columns to place city_of_departure and city_of_arrival next to their respective airport codes
cols = df.columns.tolist()
from_idx = cols.index('from_airport_code') + 1
to_idx = cols.index('dest_airport_code') + 1

cols.insert(from_idx, cols.pop(cols.index('city_of_departure')))
cols.insert(to_idx, cols.pop(cols.index('city_of_arrival')))

df = df[cols]

# Step 3 - Cleaning the data

**3.1 - The first step is to drop all rows (flights) that include layovers. This is crucial because layovers distort the analysis of flight duration by including the time spent during the layover, preventing an accurate assessment of actual flying time. Moreover, when layovers are involved, the table only shows the aircraft used without specifying the distance each aircraft traveled. This lack of detailed information makes it very difficult to accurately determine the pollution levels of each type of aircraft. By excluding layovers, we ensure that we can more easily and precisely analyze the emissions and performance of individual aircraft types.**

In [31]:
df = df[df.stops == 0]

**3.2 - We rename the duration column, so it is clear that it is measured with minutes.**

In [32]:
df.rename(columns= {'duration': 'duration_minutes'}, inplace = True)

**3.3 - We eliminate all rows that do not provide information about CO2 emissions, which is very crucial data for this analysis.**

In [44]:
df.dropna(subset= "co2_emissions", inplace=True)
df.isnull().sum()

from_airport_code                    0
city_of_departure                    0
from_country                         0
city_of_arrival                      0
dest_airport_code                    0
dest_country                         0
aircraft_type                      224
airline_number                       0
airline_name                         0
flight_number                        0
departure_time                       0
arrival_time                         0
duration_minutes                     0
stops                                0
price                              847
currency                             0
co2_emissions                        0
avg_co2_emission_for_this_route      0
co2_percentage                       0
scan_date                            0
dtype: int64

**3.4 - We fill in null values in avg_co2_emission_for_this_route and co2_percentage.**

In [34]:
# Step 1: Identify routes with null values in 'avg_co2_emission_for_this_route'
routes_with_null_avg_co2 = df[df['avg_co2_emission_for_this_route'].isnull()]

# Step 2: Calculate the average CO2 emissions for these routes
route_avg_co2 = routes_with_null_avg_co2.groupby(['from_airport_code', 'dest_airport_code'])['co2_emissions'].mean().reset_index()

# Rename the 'co2_emissions' column to 'avg_co2_emission_for_this_route' for direct use
route_avg_co2.rename(columns={'co2_emissions': 'avg_co2_emission_for_this_route_new'}, inplace=True)

# Step 3: Merge the route averages back into the original DataFrame (df)
df = pd.merge(df, route_avg_co2, on=['from_airport_code', 'dest_airport_code'], how='left')

# Step 4: Fill the null values in 'avg_co2_emission_for_this_route' with the calculated route averages
df['avg_co2_emission_for_this_route'].fillna(df['avg_co2_emission_for_this_route_new'], inplace=True)

# Step 5: Recalculate the CO2 percentage based on the filled average CO2 emissions
df['co2_percentage'] = (df['co2_emissions'] - df['avg_co2_emission_for_this_route']) / df['avg_co2_emission_for_this_route'] * 100

# Drop the temporary 'avg_co2_emission_for_this_route_new' column as it is no longer needed
df.drop(columns=['avg_co2_emission_for_this_route_new'], inplace=True)

df

/var/folders/n6/6tdhcx8d7tq5v5rgh8bbvm8c0000gn/T/ipykernel_18704/3350462465.py:14: FutureWarning:

A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.

,from_airport_code,city_of_departure,from_country,city_of_arrival,dest_airport_code,dest_country,aircraft_type,airline_number,airline_name,flight_number,departure_time,arrival_time,duration_minutes,stops,price,currency,co2_emissions,avg_co2_emission_for_this_route,co2_percentage,scan_date
0,ALG,Algier,Algeria,Cairo,CAI,Egypt,Boeing 737,MS,[EgyptAir],MS846,2022-05-29 12:55:00,2022-05-29 17:30:00,215,0,350.0,USD,327000.0,454000.0,-27.973568,2022-04-29 17:52:59
1,ALG,Algier,Algeria,Paris,CDG,France,Boeing 737,5O,[ASL Airlines],5O162,2022-04-30 10:20:00,2022-04-30 13:40:00,140,0,97.0,USD,210000.0,186000.0,12.903226,2022-04-29 17:52:59
2,ALG,Algier,Algeria,Cairo,CAI,Egypt,Boeing 737,MS,[EgyptAir],MS846,2022-07-28 12:55:00,2022-07-28 17:30:00,215,0,350.0,USD,327000.0,454000.0,-27.973568,2022-04-29 17:52:59
3,ALG,Algier,Algeria,Paris,CDG,France,Boeing 737,5O,[ASL Airlines],5O162,2022-05-02 10:20:00,2022-05-02 13:40:00,140,0,202.0,USD,186000.0,186000.0,0.000000,2022-04-29 17:52:59
4,ALG,Algier,Algeria,Paris,CDG,France,Boeing 737,5O,[ASL Airlines],5O272,2022-05-02 17:00:00,2022-05-02 20:20:00,140,0,230.0,USD,186000.0,186000.0,0.000000,2022-04-29 17:52:59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16228,BOM,Mumbai,India,Bangkok,BKK,Thailand,Airbus A350,TG,[THAI],TG318,2022-05-01 23:35:00,2022-05-02 05:35:00,270,0,221.0,USD,263000.0,340000.0,-22.647059,2022-04-29 17:52:59
16229,BOM,Mumbai,India,Bangkok,BKK,Thailand,Airbus A320,G8,[GO FIRST],G825,2022-05-03 05:50:00,2022-05-03 12:00:00,280,0,110.0,USD,300000.0,340000.0,-11.764706,2022-04-29 17:52:59
16230,BOM,Mumbai,India,Bangkok,BKK,Thailand,Boeing 777,TG,[THAI],TG318,2022-05-03 23:35:00,2022-05-04 05:35:00,270,0,191.0,USD,373000.0,340000.0,9.705882,2022-04-29 17:52:59
16231,BOM,Mumbai,India,Bangkok,BKK,Thailand,Airbus A320,G8,[GO FIRST],G825,2022-05-07 05:50:00,2022-05-07 12:00:00,280,0,145.0,USD,300000.0,340000.0,-11.764706,2022-04-29 17:52:59
16232,BOM,Mumbai,India,Bangkok,BKK,Thailand,Airbus A350,TG,[THAI],TG318,2022-05-07 23:35:00,2022-05-08 05:35:00,270,0,302.0,USD,263000.0,340000.0,-22.647059,2022-04-29 17:52:59

**3.5 - The df_airport_code data frame doesn't include the airport code DOH; therefore, we must manually insert it. This is straightforward because the only null values in the city of arrival column are those related to Doha (DOH).**

In [35]:
df.city_of_arrival.fillna("Doha", inplace=True)

/var/folders/n6/6tdhcx8d7tq5v5rgh8bbvm8c0000gn/T/ipykernel_18704/3493863224.py:1: FutureWarning:

A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.

1. Most Pollutant Routes in Summer 2022
Analysis: Calculate the total CO2 emissions for each route.
Approach: Sum CO2 emissions for all flights on each route, then rank them to find the most polluting routes.

In [36]:
# Group by route and sum CO2 emissions
pollutant_routes = df.groupby(['city_of_departure', 'city_of_arrival'])['co2_emissions'].sum().reset_index()
# Sort by CO2 emissions in descending order
pollutant_routes = pollutant_routes.sort_values(by='co2_emissions', ascending=False)
# Display the top 20 most pollutant routes
top_pollutant_routes = pollutant_routes.head(20)
top_pollutant_routes

    city_of_departure city_of_arrival  co2_emissions
341            Mumbai           Delhi     51553000.0
205             Delhi          Mumbai     51475000.0
336         Melbourne          Sydney     47924000.0
194             Delhi       Bangalore     47835000.0
512            Sydney       Melbourne     47484000.0
78             Bogota          Madrid     42822000.0
483          Shanghai        Shenzhen     35626000.0
413             Paris        New York     35385000.0
515            Sydney       Singapore     33654000.0
478          Shanghai       Guangzhou     31306000.0
536           Toronto          London     29254000.0
404             Paris     Los Angeles     28706000.0
203             Delhi          London     27603000.0
475          Shanghai         Beijing     25703000.0
335         Melbourne       Singapore     25340000.0
290         Frankfurt       Singapore     24024000.0
510            Sydney     Los Angeles     23758000.0
321          Hangzhou        Shenzhen     23704000.0
279         Frankfurt        New York     23300000.0
417             Paris   San Francisco     22927000.0

In [37]:
# Create a bar graph using Plotly
fig = px.bar(top_pollutant_routes, 
             x='co2_emissions', 
             y='city_of_departure', 
             color='city_of_arrival', 
             orientation='h', 
             title='Top 20 Most Pollutant Routes by CO2 Emissions',
             labels={'co2_emissions': 'CO2 Emissions (kg)', 'city_of_departure': 'City of Departure'},
             height=600)

# Show the plot
fig.show()

2. Most Polluting Aircraft Types
Analysis: Determine CO2 emissions by aircraft type.
Approach: Aggregate CO2 emissions by aircraft type and identify which types have the highest emissions.

In [38]:
polluting_aircraft = df.groupby('aircraft_type')['co2_emissions'].sum().reset_index()
# Sort by CO2 emissions
most_polluting_aircraft = polluting_aircraft.sort_values(by='co2_emissions', ascending=False)
display(most_polluting_aircraft.head(20))

                aircraft_type  co2_emissions
22                 Boeing 777    643467000.0
23                 Boeing 787    614378000.0
5                 Airbus A320    561207000.0
16                 Boeing 737    468573000.0
10                Airbus A330    302245000.0
7                 Airbus A321    270180000.0
13                Airbus A350    254449000.0
4                 Airbus A319    134919000.0
14                Airbus A380    122657000.0
9              Airbus A321neo    110204000.0
6              Airbus A320neo    107513000.0
19                 Boeing 747     97479000.0
12                Airbus A340     52551000.0
21                 Boeing 767     43134000.0
8     Airbus A321 (Sharklets)     39294000.0
27            Canadair RJ 900     34136000.0
17  Boeing 737MAX 8 Passenger     31988000.0
11         Airbus A330-900neo     27462000.0
33                Embraer 195     23985000.0
2   Airbus A220-300 Passenger     23680000.0

3. Correlation Between Ticket Price and CO2 Emissions
Analysis: Explore the relationship between ticket price and CO2 emissions per flight.
Approach: Calculate the correlation coefficient between ticket price and CO2 emissions.

In [39]:
correlation_price_co2 = df['price'].corr(df['co2_emissions'])
print(f"Correlation between ticket price and CO2 emissions: {correlation_price_co2}")

Correlation between ticket price and CO2 emissions: 0.7541483326363887

4. Most Popular Routes
Analysis: Identify routes with the highest number of flights.
Approach: Count the number of flights for each route and rank them.

In [40]:
popular_routes = df.groupby(['from_airport_code', 'dest_airport_code']).size().reset_index(name='num_flights')
# Sort by number of flights
most_popular_routes = popular_routes.sort_values(by='num_flights', ascending=False)
display(most_popular_routes.head(10))

    from_airport_code dest_airport_code  num_flights
429               MEL               SYD          488
533               SYD               MEL          485
82                BOM               DEL          364
275               DEL               BOM          364
274               DEL               BLR          252
520               SHA               PEK          177
521               SHA               SZX          175
415               HGH               SZX          167
516               SHA               CAN          165
407               HGH               CAN          157

5. Shortest and Longest Routes
Analysis: Find the routes with the minimum and maximum distances.
Approach: Use the distance data to identify the shortest and longest routes.

In [41]:
shortest_routes = df.sort_values(by='duration_minutes').head()
longest_routes = df.sort_values(by='duration_minutes', ascending=False).head()
display("Shortest Routes:", shortest_routes)
display("Longest Routes:", longest_routes)

'Shortest Routes:'

,from_airport_code,city_of_departure,from_country,city_of_arrival,dest_airport_code,dest_country,aircraft_type,airline_number,airline_name,flight_number,departure_time,arrival_time,duration_minutes,stops,price,currency,co2_emissions,avg_co2_emission_for_this_route,co2_percentage,scan_date
13503,FRA,Frankfurt,Germany,Zurich,ZRH,Zurich,Airbus A320,LH,[Lufthansa],LH1196,2022-08-28 16:25:00,2022-08-28 17:20:00,55,0,155.0,USD,55000.0,65000.0,-15.384615,2022-04-29 17:52:59
9605,DUB,Dublin,Dublin,Manchester,MAN,United Kingdom,Boeing 737MAX 8 Passenger,FR,[Ryanair],FR1556,2022-05-30 17:15:00,2022-05-30 18:10:00,55,0,14.0,USD,46000.0,53000.0,-13.207547,2022-04-29 17:52:59
9604,DUB,Dublin,Dublin,Manchester,MAN,United Kingdom,Boeing 737,FR,[Ryanair],FR562,2022-05-30 13:50:00,2022-05-30 14:45:00,55,0,14.0,USD,53000.0,53000.0,0.000000,2022-04-29 17:52:59
12407,FRA,Frankfurt,Germany,Brussels,BRU,Belgium,Airbus A321,LH,[Lufthansa],LH1016,2022-07-29 16:25:00,2022-07-29 17:20:00,55,0,88.0,USD,61000.0,61000.0,0.000000,2022-04-29 17:52:59
12726,FRA,Frankfurt,Germany,Munich,MUC,Germany,Airbus A321,LH,[Lufthansa],LH98,2022-05-15 09:15:00,2022-05-15 10:10:00,55,0,106.0,USD,60000.0,60000.0,0.000000,2022-04-29 17:52:59

'Longest Routes:'

,from_airport_code,city_of_departure,from_country,city_of_arrival,dest_airport_code,dest_country,aircraft_type,airline_number,airline_name,flight_number,departure_time,arrival_time,duration_minutes,stops,price,currency,co2_emissions,avg_co2_emission_for_this_route,co2_percentage,scan_date
16210,DEL,Delhi,India,Chicago,ORD,United States,Boeing 787,UA,[United],UA713,2022-05-07 01:55:00,2022-05-07 08:40:00,1035,0,1836.0,USD,1062000.0,1324000.0,-19.788520,2022-04-29 17:52:59
16218,DEL,Delhi,India,Chicago,ORD,United States,Boeing 787,UA,[United],UA713,2022-08-28 01:55:00,2022-08-28 08:40:00,1035,0,1374.0,USD,1022000.0,1324000.0,-22.809668,2022-04-29 17:52:59
16214,DEL,Delhi,India,Chicago,ORD,United States,Boeing 787,UA,[United],UA713,2022-05-30 01:55:00,2022-05-30 08:40:00,1035,0,1278.0,USD,1062000.0,1324000.0,-19.788520,2022-04-29 17:52:59
16216,DEL,Delhi,India,Chicago,ORD,United States,Boeing 787,UA,[United],UA713,2022-07-29 01:55:00,2022-07-29 08:40:00,1035,0,1836.0,USD,1022000.0,1324000.0,-22.809668,2022-04-29 17:52:59
16207,DEL,Delhi,India,Chicago,ORD,United States,Boeing 787,UA,[United],UA713,2022-05-01 01:55:00,2022-05-01 08:40:00,1035,0,1374.0,USD,1062000.0,1324000.0,-19.788520,2022-04-29 17:52:59

6. Correlation Between Price and Distance
Analysis: Examine how ticket prices vary with distance.
Approach: Calculate the correlation coefficient between ticket price and distance traveled.

In [42]:
correlation_price_stops = df['price'].corr(df['duration_minutes'])
print(f"Correlation between ticket price and time travelled: {correlation_price_stops}")

Correlation between ticket price and time travelled: 0.7111856736829579

8. Fuel Consumption by Plane Type
Additional Data Required: Find a dataset that provides fuel consumption rates for different aircraft types.
Analysis: Combine fuel consumption data with distance traveled to calculate fuel efficiency and emissions.
Approach: Use the additional fuel consumption data to calculate the fuel consumption for each flight based on its aircraft type and distance, then analyze the results.
Additional Suggestions for Analysis:

9. CO2 Emissions by Airline Analysis: Compare the CO2 emissions of different airlines. Approach: Aggregate CO2 emissions data by airline and analyze their relative environmental impact.

10. CO2 Emissions by Airport

Analysis: Assess the total CO2 emissions associated with each airport.
Approach: Sum the CO2 emissions for all departures and arrivals at each airport.

In [43]:
# Create separate dataframes for departures and arrivals with an indicator column
departures = df[['from_airport_code', 'co2_emissions']].copy()
departures['type'] = 'departure'
departures.columns = ['airport', 'co2_emissions', 'type']
arrivals = df[['dest_airport_code', 'co2_emissions']].copy()
arrivals['type'] = 'arrival'
arrivals.columns = ['airport', 'co2_emissions', 'type']
# Concatenate the departures and arrivals dataframes
combined_data = pd.concat([departures, arrivals])
# Create a pivot table to sum CO2 emissions for each airport
pivot_table = pd.pivot_table(combined_data, values='co2_emissions', index='airport', aggfunc='sum').reset_index()
# Sort by total CO2 emissions
pivot_table = pivot_table.sort_values(by='co2_emissions', ascending=False)
# Sort by total CO2 emissions and select top 10 airports
top_airports = pivot_table.nlargest(15, 'co2_emissions')
# Create the bar plot using Seaborn
plt.figure(figsize=(12, 8))
sns.barplot(x='airport', y='co2_emissions', data=top_airports, palette='viridis')
# Customize the plot
plt.title('Top 10 Airports by Total CO2 Emissions')
plt.xlabel('Airport')
plt.ylabel('Total CO2 Emissions')
# Rotate x-axis labels for better readability if needed
plt.xticks(rotation=45, ha='right')
# Show plot
plt.tight_layout()
plt.show()

TypeError: 'module' object is not callable

In [ ]:
import plotly.express as px
fig = px.bar(pivot_table.head(15), x='airport', y='co2_emissions', 
             title='Top 10 Airports by Total CO2 Emissions',
             labels={'co2_emissions': 'Total CO2 Emissions', 'airport': 'Airport'},
             text='co2_emissions',
             color='co2_emissions')
# Customize the chart layout
fig.update_layout(
    title='Top 10 Airports by Total CO2 Emissions',
    xaxis_title='Airport',
    yaxis_title='Total CO2 Emissions',
    uniformtext_minsize=8, uniformtext_mode='hide'
)
# Display the bar chart
fig.show()