In [19]:
import gdown
import pandas as pd

try:
    df = pd.read_csv("downloaded_file.csv")
    display(df)

except:
    
    file_id = '1HZUl8G9vkjTzYCQ43sOsMEIy-MP6k4v8'

    url = f'https://drive.google.com/uc?id={file_id}'

    output_path = 'downloaded_file.csv'  # Cambia la extensiÃ³n si no es un CSV

    gdown.download(url, output_path, quiet=False)

    df = pd.read_csv(output_path)

    df

,from_airport_code,from_country,dest_airport_code,dest_country,aircraft_type,airline_number,airline_name,flight_number,departure_time,arrival_time,duration,stops,price,currency,co2_emissions,avg_co2_emission_for_this_route,co2_percentage,scan_date
0,ALG,Algeria,AEP,Argentina,Airbus A318|Canadair RJ 1000|Airbus A330|Airbu...,multi,[Air France| Iberia| LATAM],AF1491|AF1491|AF1491|AF1491,2022-04-30 14:30:00,2022-05-01 10:15:00,1425,3,1279.0,USD,1320000.0,1320000.0,0%,2022-04-29 17:52:59
1,ALG,Algeria,AEP,Argentina,Airbus A318|Canadair RJ 1000|Boeing 787|Airbus...,multi,[Air France| Iberia| LATAM],AF1491|AF1491|AF1491|AF1491,2022-04-30 14:30:00,2022-05-01 10:15:00,1425,3,1279.0,USD,1195000.0,1320000.0,-9%,2022-04-29 17:52:59
2,ALG,Algeria,AEP,Argentina,Airbus A320|Airbus A321|Boeing 787|Airbus A320,multi,[Air France| LATAM],AF1855|AF1855|AF1855|AF1855,2022-04-30 12:45:00,2022-05-01 10:15:00,1530,3,1284.0,USD,1248000.0,1320000.0,-5%,2022-04-29 17:52:59
3,ALG,Algeria,AEP,Argentina,Airbus A318|Airbus A320|Boeing 787|Airbus A320,multi,[Air France| LATAM],AF1491|AF1491|AF1491|AF1491,2022-04-30 14:30:00,2022-05-01 10:15:00,1425,3,1290.0,USD,1347000.0,1320000.0,2%,2022-04-29 17:52:59
4,ALG,Algeria,AEP,Argentina,Airbus A321neo|Boeing 777|Airbus A320,multi,[Lufthansa| LATAM],LH1317|LH1317|LH1317,2022-04-30 12:35:00,2022-05-01 10:15:00,1540,2,1347.0,USD,1381000.0,1320000.0,4%,2022-04-29 17:52:59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
998861,BOM,India,SYD,Australia,Boeing 777|Airbus A380,EK,[Emirates],EK503|EK503,2022-05-01 19:20:00,2022-05-02 22:05:00,1335,1,1317.0,USD,1567000.0,1133000.0,38%,2022-04-29 17:52:59
998862,BOM,India,SYD,Australia,Boeing 777|Airbus A380,EK,[Emirates],EK509|EK509,2022-05-01 22:20:00,2022-05-02 22:05:00,1155,1,1317.0,USD,1583000.0,1133000.0,39%,2022-04-29 17:52:59
998863,BOM,India,SYD,Australia,Airbus A350|Boeing 787|Boeing 737,multi,[Etihad| Virgin Australia],EY205|EY205|EY205,2022-05-01 04:35:00,2022-05-02 09:55:00,1490,2,1328.0,USD,1354000.0,1133000.0,19%,2022-04-29 17:52:59
998864,BOM,India,SYD,Australia,Airbus A321 (Sharklets)|Airbus A321|Airbus A330,multi,[Air India| SriLankan],AI603|AI603|AI603,2022-05-01 06:10:00,2022-05-02 14:55:00,1695,2,1368.0,USD,1099000.0,1133000.0,-2%,2022-04-29 17:52:59
998865,BOM,India,SYD,Australia,Airbus A321 (Sharklets)|Airbus A321|Airbus A330,multi,[Air India| SriLankan],AI639|AI639|AI639,2022-05-01 09:30:00,2022-05-02 14:55:00,1495,2,1368.0,USD,1099000.0,1133000.0,-2%,2022-04-29 17:52:59

In [14]:
#Top 10 longest routes (in terms of time) with 0 stops

df[df.stops == 0].sort_values(by="duration", ascending=False)

,from_airport_code,from_country,dest_airport_code,dest_country,aircraft_type,airline_number,airline_name,flight_number,departure_time,arrival_time,duration,stops,price,currency,co2_emissions,avg_co2_emission_for_this_route,co2_percentage,scan_date
991329,DEL,India,ORD,United States,Boeing 787,UA,[United],UA713,2022-05-30 01:55:00,2022-05-30 08:40:00,1035,0,1278.0,USD,1062000.0,1324000.0,-19%,2022-04-29 17:52:59
990724,DEL,India,ORD,United States,Boeing 787,UA,[United],UA713,2022-05-01 01:55:00,2022-05-01 08:40:00,1035,0,1374.0,USD,1062000.0,1324000.0,-19%,2022-04-29 17:52:59
991014,DEL,India,ORD,United States,Boeing 787,UA,[United],UA713,2022-05-07 01:55:00,2022-05-07 08:40:00,1035,0,1836.0,USD,1062000.0,1324000.0,-19%,2022-04-29 17:52:59
991580,DEL,India,ORD,United States,Boeing 787,UA,[United],UA713,2022-07-29 01:55:00,2022-07-29 08:40:00,1035,0,1836.0,USD,1022000.0,1324000.0,-22%,2022-04-29 17:52:59
991705,DEL,India,ORD,United States,Boeing 787,UA,[United],UA713,2022-08-28 01:55:00,2022-08-28 08:40:00,1035,0,1374.0,USD,1022000.0,1324000.0,-22%,2022-04-29 17:52:59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
808756,FRA,Germany,MUC,Germany,Airbus A320neo,LH,[Lufthansa],LH106,2022-05-03 13:15:00,2022-05-03 14:10:00,55,0,372.0,USD,45000.0,60000.0,-24%,2022-04-29 17:52:59
808716,FRA,Germany,MUC,Germany,Airbus A320neo,LH,[Lufthansa],LH104,2022-05-03 12:15:00,2022-05-03 13:10:00,55,0,372.0,USD,45000.0,60000.0,-24%,2022-04-29 17:52:59
808394,FRA,Germany,MUC,Germany,Airbus A319,LH,[Lufthansa],LH104,2022-05-01 12:15:00,2022-05-01 13:10:00,55,0,454.0,USD,66000.0,60000.0,10%,2022-04-29 17:52:59
808381,FRA,Germany,MUC,Germany,Airbus A319,LH,[Lufthansa],LH122,2022-05-01 21:15:00,2022-05-01 22:10:00,55,0,372.0,USD,66000.0,60000.0,10%,2022-04-29 17:52:59
888174,MUC,Germany,ZRH,Zurich,Canadair RJ 900,LH,[Lufthansa],LH2368,2022-08-28 11:40:00,2022-08-28 12:35:00,55,0,313.0,USD,69000.0,81000.0,-13%,2022-04-29 17:52:59